<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOEMr6FVJugwO_B24uTs7ZaG1VM3G9tl8</string>
	<key>GCM_SENDER_ID</key>
	<string>1015224706690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SwiftUIProject</string>
	<key>PROJECT_ID</key>
	<string>swiftuiproject-94b52</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiproject-94b52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015224706690:ios:c35cb0e96c7e7eebe4b69b</string>
</dict>
</plist>